carp.cf
gzip
templates
root /home/carp/caddy

index main.html

browse /files templates/browse.html
browse /md templates/browse.html

errors error.log {
	404 error_404.html
}

markdown /md {
	template paper templates/paper.html
}
