<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta property="og:url" content="https://carp.cf/" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://carp.cf/icon.png" />
	<meta property="og:title" content="{{.Doc.title}}" />
	<meta property="og:description" content="{{.Doc.desc}}" />

	<title>{{.Doc.title}}</title>
	<meta name="author" content="Carp">

	<link rel="stylesheet" type="text/css" href="/style/paper.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css" />
</head>

<body class="document">
	<article>
		<div class="page">
			<doc>{{.Doc.body}}</doc>
		</div>
	</article>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

	<script src="/script/bridge.js"></script>
	<script src="/script/bridge.meta.js"></script>
	<script src="/script/newtonsoft.json.js"></script>
	<script src="/script/CarpWeb.js"></script>
	<script src="/script/CarpWeb.meta.js"></script>
</body>
</html>